<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>
        <%= projectName %>
    </title>
    <meta name="keywords" content="">
    <meta name="x5-fullscreen" content="false" />
    <meta name="x5-orientation" content="portrait" />
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <meta content="address=no" name="format-detection">
    <link href="./assets/img/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="./assets/css/css.min.css">
</head>

<body>
    <div class="mycanvas" id="mycanvas"></div>
    <!-- <script src="https://cdn.bootcss.com/gsap/latest/plugins/CSSPlugin.min.js"></script> -->
    <!-- <script src="https://cdn.bootcss.com/gsap/latest/easing/EasePack.min.js"></script> -->
    <!-- <script src="https://cdn.bootcss.com/gsap/latest/TweenLite.min.js"></script> -->
    <!-- <script src="https://cdn.bootcss.com/phaser/2.6.2/custom/phaser-no-physics.min.js"></script> -->
    <!-- <script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.min.js"></script>
    <script src="./assets/js/lib/libs.js"></script>
    <!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"></script> -->
    <script src="./assets/js/main.min.js"></script>
</body>

</html>